

#custom-search-input {
    /* margin:10px; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
    padding: 0;
    width:33%;
    float: right;
    
    
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:rgb(21, 189, 255);
}

.search-query:focus + button {
    z-index: 3;   
}


.slider {
    margin: 0 auto;
    max-width: 940px;
  }
  
  .slide_viewer {
    height: 340px;
    overflow: hidden;
    position: relative;
  }
  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: #D7A151;
  }
  
  .slide:nth-of-type(2) {
    background: #F4E4CD;
  }
  
  .slide:nth-of-type(3) {
    background: #C75534;
  }
  
  .slide:nth-of-type(4) {
    background: #D1D1D4;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }

  
.myButtonT {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 2px 0px #3d768a;
}
.myButtonT:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color:#408c99;
  color:#ffffff;
}
.myButtonT:active {
	position:relative;
	top:1px;
}

.myButtonG{
	-moz-box-shadow: 0px 10px 14px -7px #3dc21b;
	-webkit-box-shadow: 0px 10px 14px -7px #3dc21b;
	box-shadow: 0px 10px 14px -7px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 2px 0px #2f6627;
}
.myButtonG:hover {
  background-color:#5cbf2a;
  color:#ffffff;
}
.myButtonG:active {
	position:relative;
	top:1px;
}

.myButtonR {
	-moz-box-shadow: 0px 10px 14px -7px #cf866c;
	-webkit-box-shadow: 0px 10px 14px -7px #cf866c;
	box-shadow: 0px 10px 14px -7px #cf866c;
	background-color:#d0451b;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 2px 0px #854629;
}
.myButtonR:hover {
  background-color:#bc3315;
  color:#ffffff;
}
.myButtonR:active {
	position:relative;
	top:1px;
}

.material-switch > input[type="checkbox"] {
  display: none;   
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

.previous {
  padding: 5px;
  background-color: #ababab;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}

#back {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  margin: 7px;
}

#back:hover {
  background-color: #ddd;
  color: black;
}


.grid1 {
  margin: 0 auto;
  width: 10px;
  max-width: 60px;
  height: 10px;
  max-height: 60px;
  font-size: 1rem;
}
.row1 {
  display: flex;
}
.box1 {
  background: tomato;
  margin: 5px;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
}
.box1:after {
  content: "";
  float:left;
  display: block;

}
.box1 .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cuadrados {
  color: white;
  background-color: lightgray;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.el1 {
  padding: 4px;
  background-color: rgb(255, 255, 255);
  border: 0.5px rgb(250, 250, 250) solid;
}

.primero {
  padding: 4px;
  background-color: rgb(86, 59, 133);
  
}

.masImpo {
  padding: 4px;
  background-color: rgb(255, 244, 90);
 
}

.ultimo {
  padding: 4px;
  background-color: rgb(228, 55, 55);
  
}

.cambio {
  padding: 4px;
  background-color: rgb(43, 23, 155);
  
}

.fuera{
  padding: 4px;
  background-color: rgb(49, 172, 68);
  
}

.pOtro{
  padding: 4px;
  background-color: rgb(208, 106, 39);
  
}

.conDiv{
  padding-left: 10px;
  /* max-width: 300px; */
  word-wrap: break-word;
}



.docDisplay{
  float: left;
  height: 135px;
  width: 200px;
  margin: 0 auto;
  background: transparent;
  border-radius: 20px ;

}

.arriba{
  
  height: 90px;
  width: 200px;
  margin: 0 auto;
  background: #eff0ee;
  border-radius: 15px 15px 0px 0px ;
  border: 2px solid f7f8fa(99, 99, 103);
}

.abajo{
  
  height: 45px;
  width: 200px;
  margin: 0 auto;
  background: #dbdbdb;
  border-radius: 0px 0px 15px 15px ;
  border: 2px solid f7f8fa(99, 99, 103);
}

/* .abajo:hover{
  background: red;
} */

.textoAbajo{
  padding: 2px;
  text-align: center;
}

.textoArriba{
  padding: 2.2px;
  text-align: center;
}


@import "compass/css3";

.lista {
  float: left;
  width: 200px;
  margin-left: 7px;
 
}

.ch2 {
  font: 400 25px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.cul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cli {
  font: 200 16px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.cli:last-child {
  border: none;
}

.cli a {
  text-decoration: none;
  color: #000;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: block;
  width: 200px;
}

.cli a:hover {
  font-size: 20px;
  background: #f6f6f6;
}

.referencia{
 width: 35vw;
 /* height: 75px; */
 /* max-height: 200px; */
  word-wrap: break-word;
  /* white-space: pre-line; */
}

.CADH{
  color:rgb(84, 133, 201);
}

.contenido {
  background-color: #fff;
  color: #666;
  font-size: 14pt;
}

body, input, select, textarea {
  /* font-family: "Raleway", Arial, Helvetica, sans-serif; */
  /* font-size: 13pt; */
  font-weight: 400;
  /* line-height: 2em; */
}

  @media screen and (max-width: 1680px) {

    body, input, select, textarea {
      font-size: 11pt;
    }

  }

  @media screen and (max-width: 1280px) {

    body, input, select, textarea {
      font-size: 11pt;
    }

  }

  @media screen and (max-width: 980px) {

    body, input, select, textarea {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 736px) {

    body, input, select, textarea {
      font-size: 12pt;
    }

  }

  @media screen and (max-width: 480px) {

    body, input, select, textarea {
      font-size: 12pt;
    }

  }