/* .contenedorPrincipal{
    background-color: rgba(255, 255, 255, 0.836);
    margin-right: 25px;
    width: 50%;
    height: auto;
    margin-left: 300px;
    margin-top: 100px;
} */

.palabra{
    color:rgb(66, 69, 206);
}
